apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: mca-test-roy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: mca-backend:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 8080
        envFrom:
        - secretRef:
            name: postgres-secret
        - configMapRef:
            name: postgres-config
